aws {
  client {
    storageEncryption = 'AES256'
    s3Acl = 'BucketOwnerFullControl'
  }
}

profiles {

  aws_batch {
    process {
      executor = 'awsbatch'
      queue = 'nf-dev-worker-queue'
    }
    aws {
      region = 'us-east-2'
      client {
        anonymous = false
      }
      batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
        volumes = '/scratch/fusion:/tmp'
      }
    }
    workDir = 's3://sparkds-nextflow-scratch'
    docker {
      enabled = false
    }
  }
}
